@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    color: white;
}

.bold {
    font-weight: 700;
}

.blue-box {
    background-color: $veryDarkBlue;
    padding: 0.8125rem 1rem;
    border-radius: 1rem;
    margin-right: .5rem;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}