.header {
    
    background-color: $darkBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem 0;
    padding-left: 2.125rem;
    padding-right: 5rem;
    margin: 0.5625rem 1.5625rem;

    border-radius: 1rem 6rem 1rem 1rem;


    &__logo {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    &__document {

    }

    &__folder {
        
    }

    &__upload {

    }
}