.warning {

    background-color: white;
    border-radius: 1rem;
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 1rem 1.5rem;
    width: 35%;

    transform: translateY(-40%);

    @include breakpoint-up(medium) {
        width: 12.5%;

        transform: translate(175%, -325%);
    }

    &__number {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;
    }

    &__bytes {
        color: $grayishBlue;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}